<div class="{{globals.darkClass}}">
  <h1>Tic Tac Toe</h1>
  <form [formGroup]="createRoom" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-3">
        <label for="name">Room name</label>&nbsp;
        <input id="name" type="text" formControlName="name" class="form-control">
      </div>
      <div class="form-group col-3">
        <button class="btn btn-primary" type="submit" style="margin-top: 32px">Send</button>
      </div>
    </div>
  </form>
  Room: {{ ticTacToeService.room }}<br/>
  {{ ticTacToeService.playerText }}<br/>
  {{ ticTacToeService.text }} <button type="button" class="btn btn-primary {{ ticTacToeService.hideNewGame }}" (click)="ticTacToeService.newGame()">New Game</button>
  <table id="ticTacToeBoard">
    <tr>
      <td *ngFor="let cell of getBoard(0) | keyvalue" (click)="ticTacToeService.sendMove(cell.key)">{{ cell.value }}</td>
    </tr>
    <tr>
      <td *ngFor="let cell of getBoard(1) | keyvalue" (click)="ticTacToeService.sendMove(cell.key)">{{ cell.value }}</td>
    </tr>
    <tr>
      <td *ngFor="let cell of getBoard(2) | keyvalue" (click)="ticTacToeService.sendMove(cell.key)">{{ cell.value }}</td>
    </tr>
  </table>
  <div id="serverOnOff" class="{{ ticTacToeService.serverOnOff }}">Server {{ ticTacToeService.serverOnOff }}</div>
</div>
